@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
    --color-cyan-sc: #06B7E9;
    --color-bondi-sc: #0A7D9C;
    --color-gray-sc: #ECEFEF;
    --font-jakarta: "Plus Jakarta Sans", serif; 
}

* {
    scroll-behavior: smooth;
    @apply font-jakarta;
}

/* supaya tidak ada scrollbar horizontal */
html, body {
    overflow-x: hidden;
}


img {
    user-select: none;
}

/* Scrollbar utama */
::-webkit-scrollbar{
    display: none;
}

/* START NAVBAR */
.dropdown-appear {
    @apply bg-white/60;
    backdrop-filter: blur(7px);
    box-shadow: inset 0 -1px 0 0 rgba(10, 125, 156, 0.4);
}

.dropdown-hidden {
    @apply bg-transparent;
}

/* TRANSITION HAMBURGER ICON */
.nav-icon {
    position: relative;
    width: 42px;
    height: 25px;
    cursor: pointer;
}

.nav-icon span {
    position: absolute;
    width: 50%;
    height: 3px;
    @apply bg-bondi-sc;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.nav-icon span:nth-child(odd) {
    /*1,3,5*/left: 0;
    border-radius: 9px 0 0 9px;
    -webkit-border-radius: 9px 0 0 9px;
    -moz-border-radius: 9px 0 0 9px;
    -ms-border-radius: 9px 0 0 9px;
    -o-border-radius: 9px 0 0 9px;
}

.nav-icon span:nth-child(even){
    /*2,4,6*/left: 50%;
    border-radius: 0 9px 9px 0;
    -webkit-border-radius: 0 9px 9px 0;
    -moz-border-radius: 0 9px 9px 0;
    -ms-border-radius: 0 9px 9px 0;
    -o-border-radius: 0 9px 9px 0;
}

.nav-icon span:nth-child(1),
.nav-icon span:nth-child(2) {
    top: 0;
}

.nav-icon span:nth-child(3),
.nav-icon span:nth-child(4) {
    /* top: 13px; */
    top: 10px;
}

.nav-icon span:nth-child(5),
.nav-icon span:nth-child(6) {
    /* top: 26px; */
    top: 20px;
}

.nav-open .nav-icon span:nth-child(1),
.nav-open .nav-icon span:nth-child(6) {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.nav-open .nav-icon span:nth-child(2),
.nav-open .nav-icon span:nth-child(5) {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.nav-open .nav-icon span:nth-child(1) {
    top: 8px;
    left: 5px;
}

.nav-open .nav-icon span:nth-child(2) {
    top: 8px;
    left: calc(50% - 5px);
}

.nav-open .nav-icon span:nth-child(3) {
    left: -100%;
    opacity: 0;
}

.nav-open .nav-icon span:nth-child(4) {
    left: 150%;
    opacity: 0;
}

.nav-open .nav-icon span:nth-child(5) {
    top: 19px;
    left: 5px;
}

.nav-open .nav-icon span:nth-child(6) {
    top: 19px;
    left: calc(50% - 5px);
}
/* END NAVBAR */

/* START LIVE STUDY CLUB */
.live-track {
    display: flex;
    width: calc((235px * 12) + (52px * 11));
    animation: ticker 15s linear infinite;
}

@keyframes ticker {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
/* END LIVE STUDY CLUB */

/* Button BackToHIMTIKA */
.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 255, 255);
}

/* plus sign */
.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* text */
.text {
    /* position: absolute;
    right: 0%; */
    width: 0%;
    opacity: 0;
    color: rgba(255, 255, 255);
    background-color: rgb(10, 198, 194);
    transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
    width: 160px;
    border-radius: 40px;
    transition-duration: .3s;
    box-shadow: 0px 0px 15px 1px rgba(11, 223, 219);
}

.Btn:hover .sign {
    width: 35%;
    transition-duration: .3s;
    padding-left: 5px;
}
/* hover effect button's text */
.Btn:hover .text {
    opacity: 1;
    width: 65%;
    transition-duration: .3s;
    /* padding-right: 5px; */
}
/* button click effect*/
.Btn:active {
    transform: translate(2px ,2px);
}
/* Button BackToHIMTIKA */

/*========= CONTACT SECTION =========*/
.popup-contact {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none; 
    justify-content: center;
    align-items: center;
    z-index: 51;
    padding: 0 24px;
    @apply font-jakarta;
}
@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.popup-contact .form-contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* padding: 30px; */
    border-radius: 20px;
    position: relative;
    background: linear-gradient(180deg, #0A7D9C, #06556b, #02485c);
    animation: slideIn 0.5s ease-out;
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

.form-contact.slide-out {
    animation: slideOut 0.5s ease-in forwards;
}

.close-btn-contact {
    position: absolute;
    top: -0.5rem;
    right: 0.5rem;
    font-size: 2rem;
    cursor: pointer;
    color: #FFFFFF;
}
.title-contact {
    justify-content: center;
    font-size: 2.3rem;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    @apply font-orbitron;
}

.message-contact {
    margin-top: 10px;
    font-size: 0.9rem;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    font-style: italic;
}

.flex-contact {
    display: flex;
    width: 100%;
    gap: 10px;
}

.form-contact label {
    position: relative;
}

.form-contact label .input-contact {
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}
.form-contact label textarea.input-contact {
    resize: none;
}
.form-contact label .input-contact + span {
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form-contact label .input-contact:placeholder-shown + span {
    top: 12.5px;
    font-size: 0.9em;
}

.form-contact label .input-contact:focus + span,
.form-contact label .input-contact:valid + span {
    color: #0A7D9C;
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
}

.input-contact {
    font-size: medium;
}
.submit-contact {
    border: none;
    outline: none;
    padding: 10px 30px; /* Menyesuaikan ukuran tombol */
    border-radius: 10px;
    transition: 0.3s ease;
    background-color: #12a9d3; /* Warna latar tetap ada */
    color: #000000;
    cursor: pointer;
    text-align: center;
    position: relative;
    overflow: hidden;
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.5s ease-in-out;
}

.submit-contact::before {
    content: "Submit"; 
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #000000, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.submit-contact:hover {
    background-color: white;
}

.submit-contact:active {
    box-shadow: inset 0 16px 2px -15px rgba(0, 0, 0, 0);
    border: 2px solid #FFFFFF;
    background: linear-gradient(to bottom, #0A7D9C, #06556b, #02485c);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease-in-out;
    color: white;
}